<% unless current_user.present? %>
  <h1 class="text-center" style="margin-top: 11%;">
    <%= link_to "Login to share locations", new_user_session_path, class: "btn btn-primary btn-lg", data: {remote_modal: true} %>
  </h1>

<% else %><br/>
  <div class="row">
    <div class="text-center form-inline">
      <%= form_tag user_locations_path, :method => 'post', class: 'search-form' do  %>
        <%= select_tag :user_ids, options_from_collection_for_select(current_user.friends.order('email asc'), "id", "email"), { prompt: "--select friends--", multiple: true, class:"multiselect" } %>
        <%= submit_tag 'Share', class: "btn btn-success" %>
      <% end %>
    <h6 class="text-center"> * Select your friends to share your current location with friends or without selecting any friends to share your current location publicly.</h6>
    </div>
  </div>

  <%= content_tag "div", id: "map", class: "map", data: { location: @locations } do %>
    <div id="popup"></div>
  <% end %>
  <br/><br/>
<% end %>
