<!DOCTYPE html>
<html>
  <head>
    <title>LocationShare</title>
    <meta charset="utf-8">
    <script src="http://openlayers.org/en/v3.2.1/build/ol.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.2.1/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.2.1/resources/jquery.min.js"></script>
    <script src="http://openlayers.org/en/v3.2.1/resources/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.2.1/resources/bootstrap/css/bootstrap.min.css" type="text/css">
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'navs/main' %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <%= render 'navs/footer' %>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
